<% title = "GreenCubes Developer" %>

<% var flash = req.flash('info') %>
<% if (flash.length) { %>
<div class="ui positive message">
	<i class="close icon"></i>
	<div class="header">
		<%- flash[0] %>
	</div>
</div>
<% } %>
<div class="ui column grid" style="margin-top:5rem;margin-bottom:100px">
	<div class="column" style="width:70%">
		<h1 style="font-size: 3rem; margin: 3rem 0rem 1rem;">Расширь границы игрового мира.</h1>
		<p style="font-size: 2rem;margin-bottom:1rem;">Разрабатывай приложения с API GreenCubes.</p>
		<a href="/api" class="ui basic button" style="font-size:2rem;">Читать документацию</a>
	</div>
	<div class="column" style="width:30%">
		<i class="code icon" style="font-size: 180px; float: right; margin-right: 4rem;"></i>
	</div>
</div>
<div class="ui three column grid" style="text-align:center">
	<div class="column">
		<i class="book icon" style="font-size:5rem"></i>
		<h2><a href="/api">С чего начать?</a></h2>
		<p style="line-height: 1.5em;">Никогда раньше не работали с API?<br> Документация поможет вам как можно быстрее начать работу.</p>
	</div>
	<div class="column">
		<i class="options icon" style="font-size:5rem"></i>
		<h2><a href="/apps/register">Зарегистрируйте ваше приложение</a></h2>
		<p style="line-height: 1.5em;">Для расширенной работы с API вам потребуется регистрация вашего приложения в системе.</p>
	</div>
	<div class="column">
		<i class="help icon" style="font-size:5rem"></i>
		<h2><a href="https://forum.greencubes.org/ucp.php?i=pm&mode=compose&u=95525">Всё ещё остались вопросы?</a></h2>
		<p style="line-height: 1.5em;">Если <a href="/api">документация</a> не ответила на ваши вопросы, то вы можете связаться с нами.</p>
	</div>
</div>
