<% title = 'Авторизация / Документация API &mdash; GreenCubes Developer' %>

<div class="ui column grid">
	<div class="column" style="width:70%" id="doccontent">
		<%- partial('partials/rightmenu') %>
		<h1 class="ui header" style="font-size: 3rem">Авторизация
		<p class="sub header"><a class="nostyle link" href="/api">Документация API</a> / <b>Авторизация</b></p></h1>

		<a id="preamble" class="anchor"></a>

		<p>Сервер API предоставляет авторизацию через протокол <a href="http://oauth.net/2/" rel="nofollow" title="http://oauth.net/2/">OAuth 2.0</a> и через обычную авторизацию. Авторизация требуется только для метода <code>/user</code> и служит скорее для предоставления базовой авторизации через GreenCubes для сторонних приложений.</p>


		<a id="basicauth" class="anchor"></a>
		<h2>Базовая авторизация</h2>

		<p>Нужно сделать POST запрос на <code>/login</code>, получив ошибку или Success, мы получаем доступ к защищённым API.</p>
		<p>Для выхода используйте <code>GET /logout</code>
		</p>


		<a id="serverauth" class="anchor"></a>
		<h2>OAuth 2.0 – Server-flow</h2>

		<p><b>Тут описывается случай, когда вы авторизуетесь с веб-сервера, а не мобильного приложения.</b>
			<br/> Для начала клиент делает GET запрос на <code>/oauth/authorize</code> со следующими параметрами:
		</p>
		<pre>
client_id=2
redirect_uri=http://example.doge/oauth/callback
response_type=code
</pre>
		<p>Где <code>client_id</code> - это ID вашего приложения на OAuth сервере, а <code>redirect_uri</code> - это адрес куда впоследствии вышлется код для получения токена. В зависимости от того, залогинен ли пользователь или нет, он вернёт нам одну из следующих страниц:
		<div class="ui medium images">
			<a href="/images/loginform.png" class="image"><img src="/images/loginform.png"></a>
			<a href="/images/authorizationform.png" class="image"><img src="/images/authorizationform.png"></a>
		</div>
		</p>
		<p>После нажатия на &#34;Разрешить&#34;, страница отправляет запрос на <code>/oauth/authorize/decision</code>, после чего сервер отвечает запросом с единственным параметром на заданный <code>redirect_uri</code>:
		</p>
		<pre>
code=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8
</pre>

		<p>Теперь же ваш сервер должен отправить POST запрос на <code>/oauth/access_token</code> следующего вида:
		</p>
		<pre>
client_id=2
client_secret=wowsecurepasswd
code=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8
grant_type=authorization_code
redirect_uri=http://example.doge/oauth/callback
</pre>

		<p>Если всё хорошо, то в ответ он получит JSON следующего вида:
		</p>
		<pre>
		<code class="json">
{
	&#34;access_token&#34;: {
	&#34;token&#34;: &#34;47TbwmOFnUiXTVkTvh2an2KPcuD4xEzVObZZfs...06ylygeFxUVyPjWkkvTCEL8A0hDbSRju9&#34;,
	&#34;userId&#34;: 95671,
	&#34;username&#34;: &#34;Kernel&#34;,
	&#34;clientId&#34;: 2,
	&#34;scope&#34;: &#34;profile,email&#34;
	},
	&#34;token_type&#34;: &#34;bearer&#34;
}
</code>
</pre>
		<p>Теперь вы можете использовать полученный <code>token</code> для доступа к защищённым частям API, например, <code>/user</code>
		</p>

		<ul>
			<li><code>access_token</code> — Объект с <code>access_token</code>.
				<ul>
					<li><code>token</code> — Токен авторизации. <b>Примечание:</b> Токен только тут имеет идентификатор <code>token</code> в дальнейшем при авторизации его нужно отсылать как <code>access_token</code>.</li>
					<li><code>userId</code> – ID пользователя в системе.</li>
					<li><code>username</code> — Имя пользователя для которого выдан <code>access_token</code>.</li>
					<li><code>clientId</code> — Числовой идентификатор приложения.</li>
					<li><code>scope</code> — Выданные права доступа. Как правило, это только <code>profile</code>, <code>email</code> и <code>regions</code>
					</li>
				</ul>
			</li>
			<li><code>token_type</code> — Тип токена. Может быть только <code>bearer</code>. Введение других типов токенов не планируется.</li>
		</ul>


		<a id="clientauth" class="anchor"></a>
		<h2>OAuth 2.0 – Client-flow (Implicit Flow)</h2>

		<p><b>Тут описывается случай, когда вы авторизуетесь из мобильного/браузерного клиентского приложения (без сервера), а не серверного приложения.</b>
			<br/> Для начала клиент делает GET запрос на <code>/oauth/authorize</code> со следующими параметрами:
		</p>
		<pre>
client_id=2
redirect_uri=http://example.doge/oauth/callback
response_type=token
</pre>
		<p>Где <code>client_id</code> - это ID вашего приложения на OAuth сервере, а <code>redirect_uri</code> - это адрес на который будет впоследствии передан <code>access_token</code>. В зависимости от того, залогинен ли пользователь или нет, он вернёт нам одну из следующих страниц:
		<div class="ui medium images">
			<a href="/images/loginform.png" class="image"><img src="/images/loginform.png" /></a>
			<a href="/images/authorizationform.png" class="image"><img src="/images/authorizationform.png" /></a>
		</div>
		</p>
		<p><b>Если Вы разрабатываете браузерное Javascript-приложение</b> (обращаетесь к API с внешнего сайта), необходимо указывать ссылку в рамках домена, указанного в настройках приложения. В остальных случаях в качестве <code>redirect_uri</code> нужно использовать адрес <a href="https://api.greencubes.org/blank.html." rel="nofollow" title="https://api.greencubes.org/blank.html">https://api.greencubes.org/blank.html</a> </p>

		<p>После нажатия на &#34;Разрешить&#34;, страница отправляет запрос на <code>/oauth/authorize/decision</code>, после чего сервер, если всё конечно хорошо, отвечает перенаправлением с двумя параметрами в <b>hash</b> URL на заданный <code>redirect_uri</code>:
		</p>
		<pre>
access_token=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8
token_type=Bearer
</pre>
<br>
		<p>Соответственно, адрес будет выглядеть примерно так:
			<br/>
			<code><a href="http://example.doge/oauth/callback#access_token=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8&#38;token_type=Bearer" rel="nofollow" title="http://example.doge/oauth/callback#access_token=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8&#38;token_type=Bearer">http://example.doge/oauth/callback#access_token=w88RMIrSxJdvMmX1hb6DAGHBG2RLUsS8&#38;token_type=Bearer</a></code>.</p>
		<p>Теперь вы можете использовать полученный <code>access_token</code> для доступа к защищённым частям API, например, <code>/user</code>
		</p>

		<ul>
			<li><code>access_token</code> — Токен авторизации.</li>
			<li><code>token_type</code> – Тип токена. В данный момент, строго только <code>Bearer</code>.</li>
		</ul>

		<div class="ui divider"></div>
		<h2>Навигация</h2>
		<div class="ui big list">
			<div class="item">
				<a href="/api" class="item">Обзор</a>
				<div class="list">
					<a href="/api/authorization" class="item" style="font-weight: bold">Авторизация</a>
					<a href="/api/methods" class="item">Методы</a>
					<a href="/api/errors" class="item">Ошибки</a>
				</div>
			</div>
		</div>
	</div>
</div>
