<% title = 'Виды ошибок / Документация API &mdash; GreenCubes Developer' %>

<div class="ui column grid">
	<div class="column" style="width:70%" id="doccontent">
		<%- partial('partials/rightmenu') %>
		<h1 class="ui header" style="font-size: 3rem">Виды ошибок
		<p class="sub header"><a class="nostyle link" href="/api">Документация API</a> / <b>Виды ошибок</b></p></h1>

		<a id="typesoferrorsapi" class="anchor"></a>
		<h1>Виды ошибок сервера API</h1>
		<a id="pagenotfound" class="anchor"></a>
		<h2>Страница не существует</h2>
		<pre>
		<code class="http">
Status: 404 Not Found
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 3007543
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#34;Not Found&#34;,
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>

		<a id="forbidden" class="anchor"></a>
		<h2>Требуется авторизация</h2>
		<p><b>Местоположение:</b> <code>/user</code>
		</p>
		<pre>
		<code class="http">
Status: 403 Forbidden
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 3007543
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#34;Forbidden. Need authorization&#34;,
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>

		<a id="tokendoesnthaveaccess" class="anchor"></a>
		<h2>Предоставленный access_token не имеет прав на данный scope</h2>
		<pre>
		<code class="http">
Status: 403
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 3007543
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#34;Forbidden. Access token don&#39;t have access to this scope&#34;,
  &#34;scope&#34;: &#34;profile&#34;
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>

		<a id="toomanyrequests" class="anchor"></a>
		<h2>Превышен лимит запросов</h2>
		<pre>
		<code class="http">
Status: 429 Too Many Requests
x-ratelimit-limit: 1000
x-ratelimit-remaining: 0
x-ratelimit-reset: 3007543
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#39;Rate limit exceeded, retry later&#39;,
  &#34;retry_in&#34;: 3007543,
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>

		<a id="typesoferrorsoauth2" class="anchor"></a>
		<h1>Виды ошибок сервера OAuth 2.0</h1>
		<a id="tokennoparameter" class="anchor"></a>
		<h2>В запросе на авторизацию/получение токена не хватает определённого параметра</h2>
		<p><b>Местоположение:</b> <code>GET /oauth/authorize</code>
		</p>
		<pre>
		<code class="http">
Status: 400 Bad Request
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 1396741263
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#34;missing_parameter is not defined&#34;,
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>
		<p>Вместо <code>missing_parameter</code> может быть:
			<br/>
			<code>GET /oauth/authorize</code>:
		</p>
		<ul>
			<li><code>client_id</code>
			</li>
			<li><code>redirect_uri</code>
			</li>
		</ul>
		<p><code>GET /oauth/token</code>:
		</p>
		<ul>
			<li><code>client_id</code>
			</li>
			<li><code>client_secret</code>
			</li>
			<li><code>code</code>
			</li>
			<li><code>grant_type</code>
			</li>
			<li><code>redirect_uri</code>
			</li>
		</ul>

		<a id="incorrectresponsetype" class="anchor"></a>
		<h2>Некорректный response_type в запросе на авторизацию</h2>
		<p><b>Местоположение:</b> <code>GET /oauth/authorize</code>
		</p>
		<pre>
		<code class="http">
Status: 400 Bad Request
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 1396741263
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;message&#34;: &#34;Wrong response_type&#34;,
  &#34;documentation_url&#34;: &#34;https://wiki.greencubes.org/API&#34;
}
		</code>
		</pre>

		<a id="wrongtokencode" class="anchor"></a>
		<h2>Если используется уже использованный/неверный код получения токена</h2>

		<p><b>Status</b>: 500 Internal Server Error
			<br/>
			<b>Местоположение:</b> <code>POST /oauth/token</code>
		</p>
		<pre>
		<code class="http">
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 1396741263
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;error&#34;: &#34;invalid_grant&#34;,
  &#34;error_description&#34;: &#34;invalid code&#34;
}
		</code>
		</pre>

		<a id="incorrectgranttype" class="anchor"></a>
		<h2>Некорректный grant_type</h2>
		<p><b>Местоположение:</b> <code class="http">POST /oauth/token</code>
		</p>
		<pre>
		<code class="http">
Status: 500 Internal Server Error
x-ratelimit-limit: 1000
x-ratelimit-remaining: 999
x-ratelimit-reset: 1396741263
		</code>
		</pre>
		<pre>
		<code class="json">
{
  &#34;error&#34;: &#34;unsupported_grant_type&#34;,
  &#34;error_description&#34;: &#34;invalid grant type&#34;
}
		</code>
		</pre>


		<div class="ui divider"></div>
		<h2>Навигация</h2>
		<div class="ui big list">
			<div class="item">
				<a href="/api" class="item">Обзор</a>
				<div class="list">
					<a href="/api/authorization" class="item">Авторизация</a>
					<a href="/api/methods" class="item">Методы</a>
					<a href="/api/errors" class="item" style="font-weight: bold">Виды ошибок</a>
				</div>
			</div>
		</div>
	</div>
</div>
