<div class="ui basic modal" id="gc-approverequestmodal">
	<i class="close icon"></i>
	<div class="header">
		Принять заявку &laquo;<span id="ar-name"></span>&raquo;?
	</div>
	<div class="content">
		<div class="image">
			<i class="remove icon"></i>
		</div>
		<div class="description">
			<p>Вы уверены, что хотите принять заявку на приложение &laquo;<span id="ar-name"></span>&raquo; и зарегистрировать приложение в системе?<br>
			Действие <u>необратимо</u>.</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui negative basic inverted button">
				<i class="remove icon"></i> Нет
			</div>
			<div class="ui positive basic inverted button">
				<i class="checkmark icon"></i> Да
			</div>
		</div>
	</div>
</div>
