<div class="ui basic modal" id="gc-changeownermodal">
	<i class="close icon"></i>
	<div class="header">
		Поменять владельца приложения &laquo;<span id="co-name"></span>&raquo;?
	</div>
	<div class="content">
		<div class="image">
			<i class="user icon"></i>
		</div>
		<div class="description">
			<p>Вы уверены, что поменять владельца приложения &laquo;<span id="co-name"></span>&raquo;? Это лишит вас прав управления этим приложением и передаст права другому пользователю.<br>
			Действие <u>необратимо</u>.</p>
			<div class="ui input">
				<input placeholder="Введите пользователя" type="text" id="newOwner" style="width: 300px">
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui negative basic inverted button">
				<i class="remove icon"></i> Нет
			</div>
			<div class="ui positive basic inverted button">
				<i class="checkmark icon"></i> Да
			</div>
		</div>
	</div>
</div>
