<div class="ui basic modal" id="gc-declinerequestmodal">
	<i class="close icon"></i>
	<div class="header">
		Отклонить заявку &laquo;<span id="dr-name"></span>&raquo;?
	</div>
	<div class="content">
		<div class="image">
			<i class="remove icon"></i>
		</div>
		<div class="description">
			<p>Вы уверены, что хотите отклонить заявку на приложение &laquo;<span id="dr-name"></span>&raquo;? Не забудьте написать сообщение <span id="dr-owner"></span> об отказе!<br>
			Действие <u>необратимо</u>.</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui negative basic inverted button">
				<i class="remove icon"></i> Нет
			</div>
			<div class="ui positive basic inverted button">
				<i class="checkmark icon"></i> Да
			</div>
		</div>
	</div>
</div>
