<div class="ui basic modal" id="gc-deleteappmodal">
	<i class="close icon"></i>
	<div class="header">
		Удалить приложение &laquo;<span id="da-name"></span>&raquo;?
	</div>
	<div class="content">
		<div class="image">
			<i class="remove icon"></i>
		</div>
		<div class="description">
			<p>Вы уверены, что хотите удалить &laquo;<span id="da-name"></span>&raquo;? Это удалит все авторизационные ключи приложения.<br>
			Действие <u>необратимо</u>.</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui negative basic inverted button">
				<i class="remove icon"></i> Нет
			</div>
			<div class="ui positive basic inverted button">
				<i class="checkmark icon"></i> Да
			</div>
		</div>
	</div>
</div>
