<div class="ui basic modal" id="gc-generatenewkeymodal">
	<i class="close icon"></i>
	<div class="header">
		Сгенерировать новый ключ для &laquo;<span id="gnk-name"></span>&raquo;?
	</div>
	<div class="content">
		<div class="image">
			<i class="lock icon"></i>
		</div>
		<div class="description">
			<p>Вы точно хотите сгенерировать новый ключ для &laquo;<span id="gnk-name"></span>&raquo;? Старый ключ больше <b>не</b> будет работать. <br>Вероятно, это <u>нарушит работу</u> ваших приложений.</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui negative basic inverted button">
				<i class="remove icon"></i> Нет
			</div>
			<div class="ui positive basic inverted button">
				<i class="checkmark icon"></i> Да
			</div>
		</div>
	</div>
</div>
